__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

*.mo
*.pot

*.log
local_settings.py

instance/
.webassets-cache

.scrapy

docs/_build/

target/

.ipynb_checkpoints

.python-version

celerybeat-schedule

.env

venv/
ENV/

.spyderproject

.ropeproject

[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

cmake-build-*/


*.iws

out/

atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea